<header class="l-header" id="head">
  <nav class="nav bd-grid" >
    

          <div class="toggle-container" >
              <input type="checkbox" id="toggle" name="toggle">
              <label class="lab" for="toggle" (click)="onChange()"><i class='bx bxs-moon'></i></label>
          </div>
          
      <div class="nav_menu" id="nav-menu">
          <ul class="nav_list" id="navlist">
              <li class="nav_item"><a href="#home" class="nav_link">Home</a></li>
              <li class="nav_item"><a href="#about" class="nav_link">About</a></li>
              <li class="nav_item"><a href="#skills" class="nav_link">Skills</a></li>
              <li class="nav_item"><a href="#work" class="nav_link">Projects</a></li>
              <li class="nav_item"><a href="#contact" class="nav_link">Contact</a></li>

              <!--Dark mode toggle-->
             
          </ul>
      </div>

  </nav>
</header>