<main class="l-main">
    <!-- HOME -->
    <section class="home bd-grid" id="home">
        <div class="home_data">
            <h1 class="home_title">
                Hi, <br>I'm <span class="home_title-color">Hua Lin</span><br> 
                <span id="autoWrite"></span>
            </h1>

            <a href="#contact" class="button">Contact</a>
        </div>

        <div class="home_social">
            <a href="https://www.linkedin.com/in/hua-l-7a453a156/" target="_blank" class="home_social-icon"><i
                    class="bx bxl-linkedin"></i></a>
            <a href="https://github.com/harryhualin" target="_blank" class="home_social-icon"><i
                    class="bx bxl-github"></i></a>
        </div>

        <div class="home_img">
           
        </div>
    </section>

    <!-- ABOUT -->
    <section class="about section" id="about">
        <h2 class="section-title">About</h2>

        <div class="about_container bd-grid">
            <div class="about_img">
               
            </div>

            <div>
                <h2 class="about_subtitle">Hello</h2>
                <p class="about_text">Detail-oriented and results-driven Software Developer with Excellent problem-solving skills and attention to detail. Skilled
                    in collaborating with cross-functional teams to translate user requirements into high-quality software solutions. Strong
                    knowledge of development languages including Java, Python for implementing back-end server. Strong knowledge of
                    HTML, CSS, JavaScript and TypeScript for creating visually appealing web pages. 
                    Experienced in relational and non-relational database technologies such as MySQL, MongoDB. 
                    Familiarity using Scrum/Agile development methodologies.
                </p>
            </div>
        </div>
    </section>

    <!-- SKILLS -->
    <section class="skills section" id="skills">
        <h2 class="section-title">Skills</h2>
        <div class="skills_container bd-grid">
            <div>
                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-java skills_icon'></i>
                        <span class="skills_name">JAVA</span>
                    </div>
                    <div class="skills_bar skills_"></div>
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-javascript skills_icon'></i>
                        <span class="skills_name">JAVASCRIPT</span>
                    </div>
                    <div class="skills_bar skills_"></div>
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-react skills_icon'></i>
                        <span class="skills_name">REACT</span>
                    </div>
                    <div class="skills_bar skills_"></div>
                </div>
            </div>

            <div>
                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-nodejs skills_icon'></i>
                        <span class="skills_name">NODE JS</span>
                    </div>
                    <div class="skills_bar skills_"></div>
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-java skills_icon'></i>
                        <span class="skills_name">SPRING BOOT</span>
                    </div>
                    <div class="skills_bar skills_"></div>
                </div>

                <div class="skills_data">
                    <div class="skills_names">
                        <i class='bx bxl-postgresql skills_icon'></i>
                        <span class="skills_name">POSTGRESQL</span>
                    </div>
                    <div class="skills_bar skills_"></div>
                </div>
            </div>

        </div>
    </section>

    <!-- WORK -->
    <section class="work section" id="work">
        <h2 class="section-title">Projects</h2>
        <div class="work_container bd-grid">
            <a href="https://github.com/Kai-3226/CSE416_StoryBrook" target="_blank" class="work_img">
              <img src="../assets/storybrook-img.png" alt="">
            </a>

            <a href="https://github.com/harryhualin/laptopVS-backend" target="_blank" class="work_img">
                <img src="../assets/laptop-vs-img.png" alt="">
            </a>

            <a href="https://github.com/harryhualin/CSE380-Final-Project" target="_blank" class="work_img">
                <img src="../assets/roy-game-img.png" alt="">
            </a>


        </div>

        <!-- <a href="" target="_blank"
            class="button cv">Download
            CV</a> -->
    </section>

    <!-- <section class="work section" id="work">
        <h2 class="section-title">Work</h2>
        <div class="work_container bd-grid">

            <a href="https://www.artemis-dev.com/" target="_blank" class="work_img">
               <img src="/assets/img/artemis.png" alt="">
            </a>

            <a href="https://www.qr-food.com/" target="_blank" class="work_img">
               
            </a>

        </div>
    </section> -->

    <!-- CONTACT -->
    <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>
        <div class="contact_container bd-grid">
            <form name="contact" method="POST" class="contact_form" data-netlify="true"
                data-netlify-recaptcha="true">
                <input type="text" name="name" placeholder="Name" class="contact_input" required>
                <input type="email" name="email" placeholder="Email" class="contact_input" required>
                <textarea name="text" id="" cols="0" rows="10" class="contact_input" required></textarea>

                <div data-netlify-recaptcha="true" class="contact_input captcha"></div>

                <input type="submit" value="Send" class="contact_button button">
            </form>
        </div>
    </section>

    <footer class="footer">
        <p class="footer_title">harry</p>
        <div class="footer_social">
            <!-- <a href="https://www.facebook.com/magicpojska/" class="footer_icon"><i class='bx bxl-facebook'></i></a>
            <a href="https://www.instagram.com/magic_pojska/" class="footer_icon"><i
                    class='bx bxl-instagram'></i></a>
            <a href="https://twitter.com/magicpojska" class="footer_icon"><i class='bx bxl-twitter'></i></a> -->
        </div>
        <p>&#169; 2023 copyright all right reserved</p>
    </footer>
</main>

